@import './base.css';


#h-container {
    text-align: center;
    background-image: url('../../public/img/bg2.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}

#m-container {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    text-align: justify;
}

.icon-button {
  cursor: pointer;
  transition: transform 0.1s ease;
}

.icon-button:active {
  transform: scale(0.9);
}

#ip-address {
    height: 20px;
    padding-left: 5px;
    background-color: #000;
    color: #42b983;
    border: 3px solid #42b983;
    border-radius: 6px;
    cursor:pointer;
    transition: transform 0.1s ease;
}

#ip-address:active {
  transform: scale(0.95);
}

#ip-address:focus {
  outline: none; 
  box-shadow: none;
  border-color: #42b983;   
  background-color: #000;  
}

.list-container {
  background-color: #000;
  border: 3px solid #42b983;
  border-radius: 6px;
  width: fit-content;
  padding: 0 1em 0 1em;
}

.click-title {
  cursor: pointer;
}

.element-list{
  display: flex;
  justify-content: center; /* centra horizontalmente */
  gap: 2rem;               /* espacio entre las listas */
  flex-wrap: wrap;         /* permite que se acomoden en móvil */
  align-items: flex-start; /* alinea arriba, no estira la altura */
          /* permite que se acomoden en móvil */
}

.list-container2 {
  width: fit-content;
  text-align: center;
}

.element {
  margin-bottom: 20px;
}